<div class="container col-md-9">
  <div class="">
    <img class="bd-placeholder-img card-img-top" width="400" height="300" src="assets/imagens/2122389.jpg" />
    <div class="card-body">
      <h3 class="card-title"><strong>NG FOOD - BEACH CLUB</strong> </h3>
      <p class="card-text">Seu melhor beach club no RIO DE JANEIRO.</p>
      <!-- <ul class="menu-list">
            <li class="li">
                <figure class="menu-item wines" title="Wines">
                    <img src="assets/imagens/dadinho.jpg"/>
                    <figcaption>Foods</figcaption>
                </figure>
            </li>
            <li class="li">
                <figure class="menu-item wines" title="Wines">
                    <img src="assets/imagens/drinks.webp"/>
                    <figcaption>Drinks</figcaption>
                </figure>
            </li>
            <li class="li">
                <figure class="menu-item wines" title="Wines">
                    <img src="assets/imagens/white_wine.webp"/>
                    <figcaption>Wines</figcaption>
                </figure>
            </li>
        </ul> -->

      <div class="container alert alert-danger w-auto" id="alert" role="alert">
        <P class="container"> Atenção alérgicos: Todos os alimentos contém traços de glúten, crustáceos e amêndoas.<br>
          É proibida a venda de bebidas alcóolicas para menores de 18 anos Se beber não dirija.
        </P>
      </div>
    </div>
  </div>

</div>
