<ul class="nav container nav-tabs d-flex">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      routerLink="/comecar">Pra começar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/classicos">Clássicos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" href="#">Principais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">Enfim, nós!</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">
      <span class="badge bagde-pill btn btn-primary"> {{qtdeItemPedido}}</span> Pedido
    </a>
  </li>

</ul>
